:root {
  --card-padding-laptop-x: 6%;
  --card-padding-laptop-y: 4%;
}
.main-work {
  border: var(--secondary-color) solid 1px;
  font-family: "Barley";
  margin: 0px var(--desktop-padding);
}
.body-title {
  padding: 6% 50px 3%;
}
.body-title-intro {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 15%;
}
.body-title h1 {
  font-size: 48px;
}
.body-title p {
  font-size: 18px;
}
.body-title div {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 8px;
  display: flex;
  font-size: 22px;
  height: 50px;
  margin-top: 50px;
  max-width: 410px;
  padding: 12px 14px;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cards-grid .card:nth-child(odd) {
  border-right: 1px solid var(--secondary-color);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 11%;
  width: 100%;
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 50px;
}
.card section {
  align-items: center;
  border-color: var(--secondary-color);
  border-style: solid;
  border-width: 1px 0;
  color: var(--seconday-font-color);
  display: flex;
  font-size: 31px;
  height: 90px;
  padding: 30px 50px;
  width: 100%;
}
.card-img {
  border-radius: 12px;
  height: 60%;
  object-fit: cover;
  width: 100%;
}
.card-contact {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;

  /* background-color: violet; */
}
.card-contact div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-contact div h3 {
  color: #e6e6e6;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.6%;
  line-height: 150%;
}
.card-url {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: var(--seconday-font-color);
  display: flex;
  font-size: 20px;
  height: 50px;
  letter-spacing: -0.6%;
  line-height: 150%;
  padding: 10px 14px;
  text-decoration: none;
}
.card-url:hover {
  text-decoration: underline;
}
.card-icon {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 8px;
  display: flex;
  height: 54px;
  justify-content: center;
  padding: 10px;
  width: 54px;
}
.card-icon img {
  transition: transform 0.3s ease;
  width: 100%;
}
.card-icon:hover img {
  transform: scale(1.2);
}
.card p {
  color: var(--seconday-font-color);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
}
.cards-controls {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 30px var(--desktop-padding);
  
}

.cards-controls button {
  /* all: unset; */
  align-items: center;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--primary-font-color);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  opacity: 0.6;
  padding: 10px;
  transition: border ease-in 0.2s;
  width: 50px;
  

  /* font-family: inherit; */
  font-size: 18px;
  /* font-weight: 500; */
  /* line-height: normal; */
}
.cards-controls button:hover {
  border: solid 1px var(--primary-purple);
}
.page-btn.active {
  background-color: var(--primary-purple);
  font-weight: bold;
  opacity: 1;
}
.dots {
  padding: 0 6px;
  cursor: default;  
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: auto; */
  bottom: 0;
}
.dots img{
  width: 100%;
}
.arrow-control
{
  width: 100%;  
  transform: scale(1.2);
}
.left
{
  rotate: 180deg;
}
@media screen and (max-width: 1440px) {
  .main-work {
    margin: 0 var(--laptop-padding);
  }
  .body-title {
    padding: var(--laptop-padding) 40px 40px;
  }
  .body-title-intro {
    gap: 10px;
    padding-right: 20%;
  }
  .body-title h1 {
    font-size: 38px;
  }
  .body-title p {
    font-size: 16px;
  }
  .body-title div {
    border-radius: 6px;
    font-size: 18px;
    padding: 10px;
    width: 100%;
  }
  .cards-grid {
    grid-template-columns: repeat(2, minmax(520px, 1fr));
  }
  .card-container {
    gap: 24px;
    padding: 0 var(--card-padding-laptop-x);
  }
  .card section {
    font-size: 20px;
    height: 72px;
    padding: var(--card-padding-laptop-y) var(--card-padding-laptop-x);
  }
  .card-contact {
    height: 77px;
  }
  .card-contact div h3 {
    font-size: 18px;
  }
  .card-url {
    border-radius: 6px;
    font-size: 16px;
    height: 40px;
    padding: 8px 12px;
  }
  .card-icon {
    border-radius: 6px;
    height: 56px;
    width: 56px;
  }
  .card p {
    font-size: 16px;
  }
  .cards-controls {
        margin: 25px var(--laptop-padding);

  }
  .cards-controls button{    
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 390px) {
  .main-work {
    margin: 0 16px 16px;
    padding: 40px 0 0;
  }
  .body-title {
    padding: 0 16px 16px;
  }
  .body-title h1 {
    font-size: 28px;
    padding-right: 0;
  }
  .body-title p {
    font-size: 14px;
    padding-right: 0;
  }
  .body-title div {
    font-size: 16px;
    width: 80%;
  }
  .card {
    gap: 20px;
  }
  .card-container {
    gap: 20px;
    padding: 0 7%;
  }
  .card section {
    padding: 4% 7%;

    /* border: ; */
  }
  .card-url {
    font-size: 14px;
    padding: 8px 10px;
  }
  .card-icon {
    height: 46px;
    margin-top: auto;
    padding: 10px;
    width: 46px;
  }

}
