.button {
  background-color: var(--primary-purple);
  border-radius: 10px;
  color: var(--primary-font-color);
  cursor: pointer;
  padding: 16px 24px;
  text-decoration: none;

  transition:
    all 0.3s ease,
    box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--secondary-purple);
}

@media screen and (max-width: 1440px) {
  .button {
    padding: 12px 18px;
  }
}

@media screen and (max-width: 900px) {
  .mobile-button {
    display: none;
  }
}
