.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: #262626 solid 1px;
  color: white;
  display: flex;
  font-family: "Barlow";
  /* height: 375px; */
  min-height: 375px;
  max-height: 500px;
  justify-content: center;
  margin: 20px var(--desktopPadding) 0;
  object-fit: cover;
  position: relative;
  text-align: center;
  /* padding: 120px 300px ; */
  padding: 8% 19%;

  /* width: 100%; */
}
.hero-content {
  max-width: 850px;
  padding: 0 20px;
  /* padding: 0 1%; */
  position: relative;
  z-index: 1;
}
.hero-content h1 {
  font-size: 48px;
  margin-bottom: 25px;
}
.hero-content p {
  color: #cfcfcf;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* .footer-work {
  display: flex;
  flex-direction: column;
  gap: 50px;
} */

.footer-work .hero-content h1 {
  /* font-size: 38px; */
  font-size: 2.4rem;
  font-style: semiBold;
  line-height: 1.25;
  margin-bottom: 15px;
}

@media screen and (max-width: 1440px) {
  .hero {
    background-image: url("../public/images/services-hero.jpg");
    min-height: 320px;
    max-height: 420px;
    margin: 20px var(--laptopPadding) 0;
    padding: 5% 15%;
    /* smaller image */
  }
  .hero-content h1 {
    font-size: 38px;
  }
  .footer-work .hero-content h1 {
    /* font-size: 30px; */
    font-size: 1.5rem;
  }
  .footer-work .hero-content p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    min-height: 260px;
    max-height: 400px;
    margin: 16px;
    padding: 10% 4%;
  }
  .hero-content h1 {
    font-size: 28px;
  }
  .footer-work .hero-content h1 {
    font-size: 24px;
  }
  .footer-work .hero-content .contact-us {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}
