.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: var(--secondary-color) solid 1px;
  color: var(--primary-font-color);
  display: flex;
  font-family: "Barlow";
  justify-content: center;
  margin: 20px var(--desktop-padding) 0;
  max-height: 500px;
  min-height: 375px;
  object-fit: cover;
  padding: 8% 19%;
  position: relative;
  text-align: center;
}
.hero-content {
  max-width: 850px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.hero-content h1 {
  font-size: 48px;
  margin-bottom: 25px;
}
.hero-content p {
  color: #cfcfcf;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.footer-work {
  margin-bottom: 30px;
}
.footer-work .hero-content h1 {
  font-size: 2.4rem;
  line-height: 1.25;
  margin-bottom: 15px;
}
@media screen and (max-width: 1440px) {
  .hero {
    background-image: url("../public/images/services-hero.jpg");
    margin: 20px var(--laptop-padding) 0;
    max-height: 420px;
    min-height: 320px;
    padding: 5% 15%;
  }
  .hero-content h1 {
    font-size: 38px;
  }
  .footer-work .hero-content h1 {
    font-size: 1.5rem;
  }
  .footer-work .hero-content p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    margin: 16px;
    max-height: 400px;
    min-height: 260px;
    padding: 10% 4%;
  }
  .hero-content h1 {
    font-size: 28px;
  }
  .footer-work .hero-content h1 {
    font-size: 24px;
  }
  .footer-work .hero-content .contact-us {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
}
