:root {
  --desktopPadding: 10%;
  --laptopPadding: 5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #191919;
  color: white;
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 150%;
  padding-top: 100px;
}
.header-all {
  align-items: center;
  background-color: #191919;
  border-bottom: solid 1px #262626;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 0;
  padding: 20px var(--desktopPadding);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  /* background-color: violet; */
  /* margin: 20px 40px; */
}
.header-all .logo{
  cursor: default;
}
.navbar-items {
  display: flex;
  gap: 30px;
  /* gap: 6%; */
  align-items: center;
}
.Navbar-item {
  color: white;
  position: relative;
  text-decoration: none;
  display: inline-block;
  position: relative;
}




.Navbar-item.active {
  background-color: #262626;   
  font-weight: 600;
  padding: 14px 24px;
  border-radius: 8px;
  
}

.contact-us {
  background-color: #5b2fcf;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 16px 24px;
  text-decoration: none;

  transition:
    all 0.3s ease,
    box-shadow 0.3s ease;
  /* box-shadow: 0 2px 10px rgba(91,47,207,0.5); */
}
.burger {
  cursor: pointer;
  display: none;
  font-size: 32px;
}
.contact-us:hover {
  background-color: #34117a;
}
.burger {
  background-color: #262626;
  border-radius: 6px;
}
@media screen and (max-width: 1440px) {
  .contact-us {
    padding: 12px 18px;
  }
  .header-all {
    padding: 20px var(--laptopPadding);
  }
  .Navbar-item {
    gap: 24px;
  }
}
@media screen and (max-width: 900px) {
  .navbar-items {
    background-color: #191919;
    border-bottom: 1px solid #262626;
    display: none;
    flex-direction: column;
    gap: 25px;
    left: 0;
    padding: 40px 16px;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 99;
  }
  .navbar-items.open {
    display: flex;
    padding: 20px var(--laptopPadding);
  }
  .contact-us {
    display: none;
  }
  .burger {
    align-items: center;
    display: block;
    display: flex;
    height: 46px;
    justify-content: center;
    width: 46px;

    /* padding: 6px; */
  }
}
@media screen and (max-width: 390px) {
  .header-all {
    padding: 40px 16px;
  }

  .Navbar-item {
    font-size: 18px;
  }
}
