:root {
  --back-ground-color: #191919;
  --desktop-padding: 10%;
  --laptop-padding: 5%;
  --primary-font-color: white;
  --primary-purple: #5b2fcf;
  --secondary-color: #262626;
  --secondary-purple: #34117a;
  --seconday-font-color: #98989a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--back-ground-color);
  color: var(--primary-font-color);
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 150%;
}
.main-page {
  padding-top: 100px;
}
.header {
  align-items: center;
  background-color: var(--back-ground-color);
  border-bottom: solid 1px var(--secondary-color);
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 0;
  padding: 20px var(--desktop-padding);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header .logo {
  cursor: default;
}
.navbar {
  align-items: center;
  display: flex;
  gap: 30px;
}
.navbar-link {
  color: var(--primary-font-color);
  display: inline-block;
  position: relative;
  position: relative;
  text-decoration: none;
}
.navbar-link.active {
  background-color: var(--secondary-color);
  border-radius: 8px;
  font-weight: 600;
  padding: 14px 24px;
}
.button {
  background-color: var(--primary-purple);
  border-radius: 10px;
  color: var(--primary-font-color);
  cursor: pointer;
  padding: 16px 24px;
  text-decoration: none;

  transition:
    all 0.3s ease,
    box-shadow 0.3s ease;
}
.burger-menu {
  cursor: pointer;
  display: none;
  font-size: 32px;
}
.button:hover {
  background-color: var(--secondary-purple);
}
.burger-menu {
  background-color: var(--secondary-color);
  border-radius: 6px;
}
@media screen and (max-width: 1440px) {
  .button {
    padding: 12px 18px;
  }
  .header {
    padding: 20px var(--laptop-padding);
  }
  .navbar-link {
    gap: 24px;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    align-items: stretch;
    background-color: var(--back-ground-color);
    border-bottom: 1px solid var(--secondary-color);
    display: none;
    flex-direction: column;
    gap: 25px;
    left: 0;
    padding: 40px 16px;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 99;
  }
  .navbar.open {
    display: flex;
    padding: 20px var(--laptop-padding);
  }
  .button {
    display: none;
  }
  .burger-menu {
    align-items: center;
    display: block;
    display: flex;
    height: 46px;
    justify-content: center;
    width: 46px;
  }
}
@media screen and (max-width: 390px) {
  .header {
    padding: 40px 16px;
  }
  .navbar-link {
    font-size: 18px;
  }
}
